/* Hide footer on admin pages for a cleaner UI and simpler layout */
.admin-layout footer {
    display: none;
}

@media (min-width: 769px) {
  /* This class is applied to the .app-container in admin routes on DESKTOP */
  .admin-layout > main {
    flex-grow: 1;
    display: flex; /* Use flexbox for its children */
    overflow: hidden; /* Don't let the main tag scroll either */
  }
}
